
<body class="top">

<h2 class="top_title">ようこそBookersへ！<h2>
  <h4 class="top_content">Bookersでは、さまざまな書籍に関するあなたの意見や<br><h4>
  <h4 class="top_content">印象を共有し交換することができます</h4>

  <span class="top_content">
    <%= link_to "start", books_path %>
  </span>

</body>
